/*----- ----- MAIN GALLERY ----- ----- */

main.content section.gallery {
    overflow: hidden;
}

.content .gallery div.photo {
    width: 25%;
    float: left;
}

.content .gallery div.photo img {
    width: 100%;
    vertical-align: top;
    opacity: .5;
}

.content .gallery div.photo img:hover {
    opacity: 1;
    transition: all .3s ease;
}

/*----- ----- MAIN LOCATION ----- ----- */

main.content .location {
    background: #fff;
    padding: 60px 0;
    overflow: hidden;
}

main.content .location h3.title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

main.content .location .direction {
    float: left;
    width: 50%;
    text-align: left;
}

main.content .location .direction .street {
    margin-bottom: 15px;
}

main.content .location .hour {
    float: right;
    width: 50%;
    text-align: right;
}

main.content .location .hour h4 {
    text-align: center;
    margin-bottom: 20px;
}

main.content .location .hour .weekday,
main.content .location .hour .weekend {
    width: 50%;
    float: left;
    text-align: center
}

/*----- ----- MAP ----- ----- */

.content .map {
    width: 100%;
    overflow: hidden;
}

.content .map iframe {
    width: 100%;
    max-height: 600px;
}

/*----- ----- FOOTER ----- ----- */

footer {
    background: #000;
}

footer .container .social_media {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}


/*----- ----- MEDIA QUERIES ----- ----- */

@media screen and (max-width:800px) {
    header div.container {
        position: static;
        height: auto;
    }
    header div.container div.text {
        position: static;
        margin: 100px 0;
    }
    header nav.menu{
        text-align: center;
    }
    header nav.menu a {
        margin: 10px 20px;
    }
    header div.text h1.name {
        font-size: 30px;
    }
    .container div.text > h3 {
        font-size: 18px;
    }
    .content section.about div.photo {
        width: 100%;
        position: relative;
    }
    .content .about div.container > article {
        position: relative;
        width: 100%;
        top: -50px;
        transform: translate(0px 0);
    }
    main.content section.menu{
        padding-top: 300px;
    }
    main.content .menu .container_menu2 article {
        width: 100%;
    }
    main.content .gallery .photo {
        width: 50%;
        height: 50%;
    }
    .content .map  {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:390px) {
    header div.container .menu {
        text-align: center;
    }
    .container div.text > .name {
        font-size: 80px;
    }
    .name > span {
        font-size: 120px;
        margin-left: 30px;
    }
    .about div.container article > h3 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .container_menu2 article p.name,
    .container_menu2 article p.cost{
        font-size: 16px;
        line-height: 16px;
    }

    main.content .location .direction {
        margin-bottom: 15px;
    }

    main.content .location .direction,
    main.content .location .hour {
        width: 100%;
        text-align: center;
    }
}